body {
    display: flex;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: space-between;
    flex-flow: column;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
}

a {
    text-decoration: none;
}

.up {
    display: flex;
    flex-grow: 1;
}

.up > .content {
    margin: auto;
}

.down {
    flex-grow: 1;
}

.github {
    text-align: center;
    margin: 15px;
    color: #777;
}

.github > span {
    font-size: 1.2em;
}

/* For Mobile */
@media screen and (max-width: 1000px) {
    .up > .content > div {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .up > .content > div > .in {
        height: 25px;
        border-radius: 0;
        border: 1px solid #DDD;
        flex-grow: 10;
        padding-left: 7px;
        -webkit-appearance: none;
    }

    .up > .content > div > .sub {
        margin: auto 0;
        height: 29px;
        border-radius: 0;
        border: 1px solid #DDD;
        background-color: #FFF;
        padding: 3px 6px;
        flex-grow: 1;
    }
}

/* For Pad and PC */
@media screen and (min-width: 1001px) {
    .up > .content > div > .in {
        width: 500px;
        height: 25px;
        border-radius: 0;
        border: 1px solid #DDD;
        padding-left: 7px;
    }

    .up > .content > div > .sub {
        height: 29px;
        border-radius: 0;
        border: 1px solid #DDD;
        background-color: #FFF;
        padding: 3px 6px;
    }
}